@use "./styles//popup";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --body-bg: #1e1e1e;
  --body--bg: #1e1e1e;
  --events--bg: #262626;
  --border-color: #363636;
  --border-color-2: #454545;
  --color--white: #fff;
  --box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  --brad-1: 0.5rem;
  --brad-2: 1rem;
  --brad-3: 1.5rem;
  --brad-4: 2rem;
}

body{
  height: 100vh;
  background-color: var(--body-bg);
}

.content{
  padding: 2rem;
  width: 100%;
  height: 100%;

  display: flex;
  gap: 1.5rem;
}

.map-container{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: var(--brad-2);
  border: 2px solid var(--border-color);
}

.liked-events {
  flex: 1;
  padding: 1rem 2rem;
  border-radius: var(--brad-2);
  background-color: var(--events--bg);
  box-shadow: var(--box-shadow);
  border: 2px solid var(--border-color);

  color: var(--color--white);
  overflow-y: auto;

  &_title{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    gap: 0.3rem;

    i {
      color: #fdc401;
    }
  }

  &_event{
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: var(--brad-1);
    background-color: var(--border-color-2);
    box-shadow: var(--box-shadow);
    font-weight: 500;

    color: var(--color--white);

    cursor: pointer;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }
}
